extends ../../layouts/default

include ../../mixins/post
include ../../mixins/advertisement

block content
	//- Hero
	section.section.home-meetup
		.container
			<br>
			h1.down-a-bit Legalize Medical Marijuana in Oklahoma by Jan. 1, 2015<br>
			.row
				.col-md-6
					h3 The petition is now underway! 
					p.lead We are working towards a Medicinal Marijuana Constitutional Amendment with <a href="http://www.oklahomansforhealth.com/">Oklahomans For Health</a>.
					p.lead
						strong Petition Locations 
						.row
							.col-md-6
								p <a target="blank" class="btn btn-lg btn-primary" href="https://docs.google.com/spreadsheets/d/1f1MkNJ69W-bN6SznA-oboE8ialoOBemRPY69NgjpFaM/edit?usp=sharing"><span class="entypo entypo-fixed-width entypo-numbered-list"></span> Click Here for Excel Listing </a>
							.col-md-6
								p <a target="blank" class="btn btn-lg btn-info" href="https://mapsengine.google.com/map/edit?mid=zVyjkmVEjdcQ.k6ftA-ss6ZF0"><span class="entypo entypo-fixed-width entypo-location"></span> Click Here for Full Map </a>

					p.lead <strong>Sign the petition today</strong> to help us legalize medical marijuana.
					p.lead Still want to do more? We need volunteers, signature gatherers, more businesses to host it, and we need your help to make sure we get this passed.
					p.lead
						.row
							.col-md-5
								<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="TQBXS6MWFNLBC">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
								</form>
							.col-md-6
								a(href='https://docs.google.com/forms/d/1SAc-05NCYuH21FHTwpI8XO4p7p-qYZpsBBjNdIK5mkU/viewform').btn.btn-default.btn-lg.btn-success <span class="entypo entypo-fixed-width entypo-users"></span> Sign Up To Volunteer Today!

					.row
						.col-md-12
							p.lead Only the people of Oklahoma can modify the state Constitution through a general election. <strong> Let's get it on the ballot and let the people decide. </strong>
			
				.col-md-6
					//-img.img-thumbnail(src="/images/timthumb.jpg")
					<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zVyjkmVEjdcQ.k6ftA-ss6ZF0" width="640" height="480"></iframe>
	
	//- About
	section.section.home-about: .container
		h2 The clock is ticking! Let's do this Oklahoma.
		<div class="clock"></div>
		h2 Sign the petition or volunteer today!

	section.section.home-meetup

		.home-meetup-wrapper
			.container
				h5= (lastMeetup) ? 'Our last meetup:' : 'Our next meetup:'
				div(data-ks-editable=editable(user, { list: 'Meetup', id: nextMeetup.id }))
					h1= nextMeetup.name
					.row
						.col-sm-8
							if nextMeetup.description
								p!= nextMeetup.description
							if nextMeetup.talks	
								if nextMeetup.talks.length
									.meetup-talks
										span.meetup-talks__icon.entypo.entypo-large.entypo-comment
										h4.meetup-talks__heading Activities at the event
										ul.list-unstyled
											each talk in nextMeetup.talks
												li.talk
													strong.talk__name #{talk.name} 
													if talk.who.length
														.talk__speaker
															| with 
															each user, i in talk.who
																if i
																	| , 
																= user.name.full + ' '
						.col-sm-4
							dl.dl-horizontal.home-meetup__details-list
								dt
									.sr-only Date
									span.entypo.entypo-fixed-width.entypo-calendar
								dd=nextMeetup._.date.format('dddd, DD MMM YYYY')
								dt
									.sr-only Time
									span.entypo.entypo-fixed-width.entypo-clock
								dd=nextMeetup.time
								dt
									.sr-only Place
									span.entypo.entypo-fixed-width.entypo-location
								dd=nextMeetup.place
							if !lastMeetup
								.register-btn
									a(href='/attend', disabled=!nextMeetup.rsvpsAvailable).btn.btn-lg.btn-block.btn-register= nextMeetup.rsvpsAvailable ? 'Register' : 'Sold out!'
							hr.line-dashed
							p: a(href='/meetups').text-muted All our meetups &rarr;

		.home-meetup-map
			#meetup-map.map
			a(href='https://maps.google.com.au/?daddr=' + nextMeetup.place, target='_blank').directions-button
				span.entypo.entypo-popup
				|  Get Directions


	//- Blog
	if posts.length
		section.section.home-blog: .container
			.blog(itemscope itemtype="http://schema.org/Blog")
				for post in posts
					+post(post)
				hr.line-dashed
				p(data-ks-editable=editable(user, { list: 'Post' }))
					a(href='/blog', itemprop='url').text-muted See all LegalizeOK blog posts &rarr;



	//- Links
	section.section.home-links: .container
		.row
			.col-sm-4
				a(href='/members/organisations').link-icon-badge: span.link-icon.entypo.entypo-globe
				h2.home-links__heading: a(href='/members/organisations') Organizations
				p Take a look at which local businesses and community leaders have already jumped on board in the name of freedom.
				p Is your organization ready to be on the right side of history? Join us.

			.col-sm-4
				a(href='/members').link-icon-badge: span.link-icon.entypo.entypo-users
				h2.home-links__heading: a(href='/members') Supporters
				p Support for Marijuana Legalization has changed drastically over the past few years.
				p Everyday Oklahomans support legalization of marijuana. See those who have come out publicly in support of LegalizeOK.

			.col-sm-4
				a(href='/links').link-icon-badge: span.link-icon.entypo.entypo-link
				h2.home-links__heading: a(href='/links') Links
				p If you are interested in some additional information regarding the medical benefits of cannabis please see our links and blog.
				p You can also learn about the impact prohibition has on Oklahoma communities.

		.row
			.col-sm-4
				p: a(href='/members/organisations', class='home-links-anchor') View organisations

			.col-sm-4
				p: a(href='/supporters', class='home-links-anchor') View supporters

			.col-sm-4
				p: a(href='/links', class='home-links-anchor') View links


block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&sensor=false&libraries=places')
		script.
			jQuery(function($) {
				
				// MAP STYLES
				var styles = {
					paledawn: [{"featureType":"water","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]},{"featureType":"landscape","stylers":[{"color":"#f2e5d4"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"administrative","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"road"},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{},{"featureType":"road","stylers":[{"lightness":20}]}],
					paper: [{"featureType":"administrative","stylers":[{"visibility":"on"}]},{"featureType":"poi","stylers":[{"visibility":"simplified"}]},{"featureType":"road","stylers":[{"visibility":"simplified"}]},{"featureType":"water","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"visibility":"off"}]},{"featureType":"road.local","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"road.arterial","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"color":"#5f94ff"},{"lightness":26},{"gamma":5.86}]},{},{"featureType":"road.highway","stylers":[{"weight":0.6},{"saturation":-85},{"lightness":61}]},{"featureType":"road"},{},{"featureType":"landscape","stylers":[{"hue":"#0066ff"},{"saturation":74},{"lightness":100}]}],
					midnight: [{"featureType":"water","stylers":[{"color":"#021019"}]},{"featureType":"landscape","stylers":[{"color":"#08304b"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#0c4152"},{"lightness":5}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#0b434f"},{"lightness":25}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#0b3d51"},{"lightness":16}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"}]},{"elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"elementType":"labels.text.stroke","stylers":[{"color":"#000000"},{"lightness":13}]},{"featureType":"transit","stylers":[{"color":"#146474"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#144b53"},{"lightness":14},{"weight":1.4}]}],
					redalert: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#ffdfa6"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#b52127"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#c5531b"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#74001b"},{"lightness":-10}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#da3c3c"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#74001b"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#da3c3c"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"color":"#990c19"}]},{"elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"elementType":"labels.text.stroke","stylers":[{"color":"#74001b"},{"lightness":-8}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#6a0d10"},{"visibility":"on"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#ffdfa6"},{"weight":0.4}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]}]
				};
				var styledMap = {
					paledawn: new google.maps.StyledMapType(styles.paledawn, { name: "Pale Dawn" }),
					paper: new google.maps.StyledMapType(styles.paper, { name: "Paper" }),
					midnight: new google.maps.StyledMapType(styles.midnight, { name: "Midnight Commander" }),
					redalert: new google.maps.StyledMapType(styles.redalert, { name: "Red Alert" }),
					normal: new google.maps.StyledMapType(styles.normal, { name: "Normal Map" })
				};
				
				var mapOptions = {
					zoom: 6,
					scrollwheel: false,
					disableDefaultUI: true,
					zoomControl: true,
					zoomControlOptions: {
						style: google.maps.ZoomControlStyle.DEFAULT
					},
					mapTypeControlOptions: {
						mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
					}
				}
				
				// LOAD MAP
				var map = new google.maps.Map(document.getElementById("meetup-map"), mapOptions);
				map.mapTypes.set('map_style', styledMap.paper);
				map.setMapTypeId('map_style');

				// MAP OPTIONS
				var geocoder = new google.maps.Geocoder();
				geocoder.geocode( { 'address': "#{nextMeetup.place}" }, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					var lat = results[0].geometry.location.lat(); //getting the lat
					var lng = results[0].geometry.location.lng(); //getting the lng
					map.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
						map: map,
						position: results[0].geometry.location
					});
				} else {
						alert("Geocode was not successful for the following reason: " + status);
						}
				});

				// Add the marker to the map
				//marker.setMap(map);
				
				// Info window
				var infowindow = new google.maps.InfoWindow({
					content: "#{nextMeetup.place}"
				});
				//google.maps.event.addListener(marker, 'click', function() {
				//	infowindow.open(map,marker);
				//});
			});
